* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

.contenitore-logo {
    border: 1px solid lightseagreen;
    height: 100px;
    background-image: url(../img/pattern.png);
    background-color: lightseagreen;
    background-size: contain;
    
}

#logo {
    width: 150px;
    height: 100px;
    padding-top: 50px;
}

main {
    width: 80%;
    margin: 0 auto;
   
}

.titoloprincipale {
    font-size: 2rem;
    padding-top: 10px;
}

#footerbooleaner {
    color: lightskyblue;
}

.footertitolo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(109, 106, 106);
}

.fototim {
    padding-top: 10px;
}

#sottotitolifoto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}

#primoparagrafo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
}

#evidenziato {
    background-color: yellow;
}

#lista {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
}